.circle{
    height:200px;
    width:200px;
    background-color:aqua ;
    border-radius:100px;
    transition:border-radius 4s;
    transition:transform 5s;
}
.circle:hover{
    border-radius: 100px;
    background-color: palegoldenrod;
transform: translate(100px 200px);
transform: scale(1,5);
transform: rotate(-40deg);
transform: skew(20deg,40deg );
}